/* --- COMMON --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Comfortaa', cursive;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.7;

  background: #b1c98b;
  color: #4d4d4d;
}

.wrapper {
  padding: 30px;
}