/* --- COMMON --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #3e3d3d;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Comfortaa', cursive;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.7;

  background: #b1c98b;
  color: #3e3d3d;
}

.hide-scroll {
  overflow: hidden;
}

.status {
  display: block;
  color: #879361;
}

.wrapper {
  margin: 0 auto;
  padding: 30px 100px;
  max-width: 1280px;
}

.new__wrapper,
.wrapper__types {
  padding: 50px 0;
}

.title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000;
}

.types__title,
.new__title {
  font-size: 30px;
}

.button {
  padding: 15px 45px;
  font-family: 'Comfortaa', cursive;
  color: #000;

  background: #c4cba4;
  border: 2px solid #879361;
  border-radius: 100px;

  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background: #b1c98b;
}

.button:active {
  background: #879361;
}

/* HEADER */
.logo {
  max-width: 120px;
  padding: 8px;
  border: 1px solid #879361;
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  box-shadow: -10px 6px 14px -5px rgba(0,0,0,0.75);
}

.logo:active {
  box-shadow: -2px 2px 11px -5px rgba(0,0,0,0.75);
}

.logo__line1 {
  letter-spacing: 11.5px;
}
.logo__line2 {
  letter-spacing: 10px;
}

.header__preview {
  display: flex;
  flex-direction: row;
  gap: 0 220px;
  margin-top: 100px;
}

.header__content {
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px 0;
  max-width: 40%;
}

.header__img {
  transform: scaleX(-1);
}

/* SECTION TYPES */
.types {
  width: 100%;
  background: #fff;
}

/* slider */
.slider__list {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap row;
  margin-top: 50px;
  margin-bottom: 50px;
}

.slider__item {
  max-width: 25%;
}

.slider__item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 200px;
}

.item__content.active {
  border-top: 5px solid #879361;
}

.item__img {
  width: 80%;
  margin-top: 7px;
}

.item__link {
  margin-top: 20px;
  text-align: center;
}

.slider__content {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  padding: 0 100px;
}

.slider__content-img {
  max-width: 50%;
  width: 350px;
  height: auto;
  border-radius: 100px;
}

.slider__content-text {
  max-width: 50%;
  margin-top: 60px;
}

.slider__text2 {
  margin-top: 25px;
}

.faded {
  animation: faded 0.5s;
}

@keyframes faded {
  5% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  55% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}

.button__choice {
  padding: 25px 50px;
  font-size: 25px;
  text-transform: uppercase;
}

/* SECTION NEW */
.new__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  margin-top: 60px;
}

.new__img {
  max-width: 50%;
  width: 350px;
  border-radius: 15px;
  transition: filter 0.5s ease-out;
  cursor: pointer;
}

.new__img:hover {
  filter: brightness(0.7);
}

.new__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info__title {
  font-size: 20px;
}

.info__text {
  max-width: 50%;
  margin-top: 10px;
}

/* timer */
.timer {
  margin-top: 75px;
  padding: 20px 35px;
  text-align: center;

  background: #fff;
  border: 2px solid #879361;
  border-radius: 10px;
}

.timer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
  margin-top: 15px;
}

.timer span {
  padding: 10px;
  font-size: 40px;
  background-color: #c4cba4;
  border-radius: 7px;
}

.description {
  margin-top: 3px;
}

/* POPUPS */
.popup,
.popup__toads,
.popup__action,
.popup__end,
.popup-images {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 43, 24, 0.762);
}

.popup__content {
  position: fixed;
  top: 12%;
  left: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
  height: 55%;
  padding: 30px;

  background-color: #fff;
  border-radius: 10px;
  transform: translateX(-50%);
}

.toads__content {
  height: 78%;
}

.form__button,
.toads__button,
.action__button {
  margin-top: 35px;
}

.form__title,
.action__title,
.end__title {
  font-size: 20px;
}

.popup__close,
.popup__toads_close,
.popup__action_close,
.popup__end_close {
  position: absolute;
  top: -4rem;
  right: -3rem;

  font-size: 4rem;
  color: #fff;
  background: transparent;
  border: none;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.popup__close:focus,
.popup__toads_close:focus,
.popup__action_close:focus,
.popup__end_close:focus {
  border: 1px solid #879361;
}

.popup__close:hover,
.popup__toads_close:hover,
.popup__action_close:hover,
.popup__end_close:hover {
  font-size: 4.5rem;
}

.popup__close:active,
.popup__toads_close:active,
.popup__action_close:active
.popup__end_close:active {
  font-size: 3.5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  height: 3.8rem;
  margin-top: 20px;
  padding: 20px;

  font-family: 'Comfortaa', cursive;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.7;

  border: 1px solid #879361;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.form__input:focus {
  border: 2px solid #879361;
  outline: #879361;
  box-shadow: -1px 1px 39px -4px #879361;
}

.form__notice {
  margin-top: 10px;
  font-size: 13px;
}

/* popup__toads */
.toads__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  margin-top: 20px;
}

.toads__wrapper {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
}

.popup__img {
  width: 50%;
  margin-bottom: 15px;
}

.sr-only {
  position: absolute;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}

.radio-custom {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;

  border: 2px solid #879361;
  border-radius: 5px;
}

.toads__content .radio:checked+.radio-custom::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.radio-custom[id="wizard"]::before,
.radio-custom[id="musician"]::before,
.radio-custom[id="hugger"]::before,
.radio-custom[id="old-wizard"]::before,
.radio-custom[id="fairy"]::before {
  background: url(../assets/check.png) center center no-repeat;
}

.toads__content .radio:focus + .radio-custom {
  outline: 1px solid #879361;
}

.toads__content .radio:focus:not(:focus-visible) {
  outline: none;
}

/* popup__action */
.action__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action__select,
.action__license[type="number"] {
  width: 100%;
  height: 45px;
  margin-top: 20px;
  padding: 10px 15px;

  font-family: 'Comfortaa', cursive;
  font-size: 17px;

  background: #fff;
  border: 1px solid #879361;
  border-radius: 4px;
}

.action__license[type="number"] {
  width: auto;
  margin-top: 15px;
  text-align: center;
}